*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #181818;
    color: #fff;
}
#header{
    width: 100%;
    height: 15vh;
}
.container{
    padding: 10px 8%;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 100px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #801eb4;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
}
.firstSection div{
    width: 50%;
}
.LeftSection{
    font-size: 2rem;
    padding-top: 80px;
    padding-left: 150px;
}

.RightSection img{
    width: 40%;
    margin: 40px 30%;
}

.purple{
    color: #ab6ecc;
}

#element{
    color: #ab6ecc;
}
/*---------------about----------*/
#about{
    padding: 80px 0px;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    line-height: 80px;
}
.description{
    line-height: 20px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 4px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}
.skillsdes{
    line-height: 26px;
}
.tab-contents ul li{
    list-style: none ;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #ab6ecc;
    font-size: 20px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}